/****************** TAG SELECTORS *********************/
/* h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
} */

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
body {
  font-family: 'Montserrat-Black', sans-serif;
  text-align: center;
}

/* h2 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: bold;

} */

p {
  color: #8f8f8f;
}



/****************** ID SELECTORS *********************/
#title .container-fluid{
  padding: 2% 15% 5%;
  text-align: left;
}
#features {
  /* can text align on the class  */
  /*  */
  position: relative;
}

#testimonials{
  background-color: #ef8172;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing{
  padding: 75px;
}

/****************** CLASS SELECTORS ******************/
/* heading sections */

.big-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Sections */

.coloured-section{
  background-color: #ff4c68;
  color: white;
}
.white-section{
  background-color: white;
}

.container-fluid {
  padding: 5% 15%;
}


/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  /* rotates the image */
  transform: rotate(20deg);
  position: absolute;
  right: 30%;
}

/**** feature section ****/
.feature-box {

  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-title{
  line-height: 1.5;
}
/* psuedo state for hover */
.icon:hover {
  color: #ff4c68;
}

/* testimonials section */

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
.pricing-column{
  padding: 3% 2%;
}
.pricing-text{
  font-size: 3rem;
  line-height: 1;
}

/* cta section */
.cta-text{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.fa-logo{
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
